{% extends 'base.html' %}

{% block content %}

    <div class="container px-10 py-24 mx-auto min-w-fit">
        <form method="post" class=" bg-indigo-200 text-gray  " action="{% url 'login' %}">
            {% csrf_token %}
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again!</p>
                <br>
            {% endif %}
            <table>
                <tr>
                    <td class="pr-2">{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td class="pr-2">{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <button type="submit" value="Login"
                    class="text-gray bg-teal-100 py-1 px-5 border-6 my-6 focus:outline-none hover:bg-indigo-300 rounded">
                Log In
            </button>
            {# Assumes you set up the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </form>
    </div>

{% endblock %}



