/*body{*/
/*    font-family: sans-serif;*/
/*    margin: 0;*/
/*}*/

form {
    margin: 3rem auto;
    width: 90%;
    max-width: 75%;
    padding: 1rem;
    border-radius: 12px;
    /*background-color: teal ;*/
    box-shadow: 0 2px 8px rgba(0, 0, 0, .26);
}


button {
    /*cursor: pointer;*/
    padding: .5rem 1.5rem;
    border-radius: 6px;

    /*background-color: blueviolet;*/
    /*color: white;*/
    border: 2px solid rgb(59 130 246 / 0.6);
    margin-top: 1rem;
}

#delete_form {
    min-width: 15%;
    max-width: 60%;

}

#delete_form button {
    min-width: 100%;
    margin: auto;
    text-align: center;
}

button:hover,
button:active {
    /*background-color: #a157e6;*/
    border-color: gray;
}

#note_image {
    min-width: 30%;
    max-width: 40%;
    border: solid 2px gray;
    margin-top: 1rem;
}

.form-control input {
    font: inherit;
    padding: .25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 65%;
}

.form-control textarea {
    width: 90%
}

.form-control :focus {
    border-color: blueviolet;
    outline: none;
    background-color: rgb(197, 167, 224);
}

.form-control label {
    font-weight: bold;
    display: block;
    /* margin-bottom: .5rem; */
    margin-top: .5rem;
}

.errorlist {
    list-style: none;
    margin: .5rem 0;
    padding: 0;
    color: darkred;
}

.errors input {
    border-color: darkred;
    background-color: rgb(207, 189, 189);
}

.errors label {
    color: darkred;
}