{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <section class="text-gray-600 body-font">
            <div class="container px-10 py-24 mx-auto ">

                <div class=" p-4">
                    <div class="{{ single_note.color }} border border-gray-300 p-6 rounded-lg">
                        <h2 class="text-lg text-gray-900 font-medium title-font mb-2">{{ single_note.title }}</h2>
                        <p class="leading-relaxed text-base">{{ single_note.text }}</p>
                        <img id="note_image" src="{{ single_note.image.url }}" alt="{{ single_note.image.url }}">
                    </div>
                    <a href=" {% url 'delete_note' single_note.slug %}">
                        <button class="text-gray bg-red-200 py-2 mr-5 px-5 border-6 my-4 focus:outline-none hover:bg-indigo-300 rounded">
                            Delete Note
                        </button>
                    </a>
                    <a href="{% url 'edit_note' single_note.slug %}">
                        <button class="text-gray bg-teal-100 py-2 px-5 border-6 my-4 focus:outline-none hover:bg-indigo-300 rounded">
                            Edit Note
                        </button>
                        <a/>
                </div>
            </div>
        </section>

    {% else %}
        <div class="xl:w-2/3 md:w-2/3 p-2 my-2 mx-auto  ">
            <h1 class="rounded-lg border-solid border-2 border-teal-300 text-center text-3xl px-6 text-5xl bg-teal-100 text-gray-800 py-3 my-2">
                You must login to access this page.</h1>
        </div>
    {% endif %}
{% endblock %}